	html {
		height: 100%;
	}


	body {
  		background-image: url("imagenes/fondo.jpg");
		position: relative;
		margin: 0;
		padding-bottom: 6rem;
		font-family: Arial, sans-serif;
		background-attachment: fixed;
	}

	.contenedor {
		margin-left: 10%;
		margin-right: 10%;
  		height:100%;
		background-color:#758019
	}

	footer {
		position: absolute;
		bottom: 0;
		text-align: left;
		margin-left:10%;
		margin-right:10%;
		}



	.menu {
		width: 100%;
	}


	span.mover_derecha {
		float: right;
	}

	.menu ul {
		margin:0;
		padding:0;
		display: flex;
		list-style: none;
	}

	.menu a, footer {
		display: block;
		padding: 1.5em;
		right: 0;
		left: 0;
		background-color: #0e330a;
		text-decoration: none;
		color: #ffffff;
	}
	.menu a:hover {
		background-color: #CC673B;
	}
	.menu ul li ul {
		display: none;
	}
	.menu ul li a:hover + ul, .menu ul li ul:hover{
		display: block;
	}

	.search_bar {
		width:15%;
		float:left;
		
	}

	.tressColumn {
		text-align:center;
		margin-top:10%;
		border-left: 1px solid gray;
		overflow: hidden;
        column-count: 3;
	}	

	.arreglarMargin{
		margin-top:0;
	}

	.infoBox{
		margin-top:0;
		border-color: black;
		border-width: thick;
		border-style: double ;
		padding:1em;
		margin-left:10%;
		margin-right:10%;
	}

	 /* unvisited link */
	.infoBox a:link {
		color: #0251d1;
	}

	/* visited link */
	.infoBox a:visited {
		color: #002156;
	}

	/* mouse over link */
	.infoBox a:hover {
		color: red;
	}

	/* selected link */
	.infoBox a:active {
		color: yellow;
	} 

	section{
		padding-top:10%;
		padding-bottom:10%;
	}


	.login-estilo {
		text-align:center;
		margin-top:0;
		border-color: black;
		border-width: thick;
		border-style: double;
		padding:1em;
		margin-left:25%;
		margin-right:25%;
		overflow: hidden;
	}
	
	.login-estilo h3 {
		margin-bottom:1%;
	}

	#margin-extra{
		margin-top:3%;
	}
	
