	html {
		height: 100%;
	}


	body {
		position: relative;
		margin: 0;
		padding-bottom: 6rem;
		height: 100%;
		font-family: Arial, sans-serif;
		background-attachment: fixed;
	}

	.contenedor {
		margin-left: 10%;
		margin-right: 10%;
  		height:100%;
		background-color:#758019
	}

	footer {
		position: absolute;
		bottom: 0;
		text-align: left;
		margin-left:10%;
		margin-right:10%;
		}

	}



	.menu {
		width: 100%;
	}


	span.mover_derecha {
		float: right;
	}

	.menu ul {
		margin:0;
		padding:0;
		display: flex;
		list-style: none;
	}

	.menu a, footer {
		display: block;
		padding: 1.5em;
		right: 0;
		left: 0;
		background-color: #0e330a;
		text-decoration: none;
		color: #ffffff;
	}
	.menu a:hover {
		background-color: #CC673B;
	}
	.menu ul li ul {
		display: none;
	}
	.menu ul li a:hover + ul, .menu ul li ul:hover{
		display: block;
	}

	.search_bar {
		width:15%;
		float:left;
		
	}
