html {
	height: 100%;
}

*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url("imagenes/fondo3.jpg");
	position: relative;
	margin: 0;
	padding-bottom: 6em;
	height: 100%;
	font-family: Arial, sans-serif;
	background-attachment: fixed;
}

.contenedor {
	margin-left: 10%;
	margin-right: 10%;
	height: 100%;
	background-color: #e7d5ba;
	overflow:hidden;
}

.navegacion nav{
	background: #a90329; 
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 73%, #6d0019 100%);
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 73%,#6d0019 100%); 
	background: linear-gradient(to bottom, #a90329 0%,#8f0222 73%,#6d0019 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
	margin: 4% auto;
}

.navegacion nav ul{
	list-style: none;
	position:relative;
}

.navegacion nav > ul > li{
	display: inline-block;
}

.navegacion nav ul li a{
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 1.5em;
}

.navegacion nav ul li .submenu{
	background: #a90329;
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 73%, #6d0019 100%); 
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 73%,#6d0019 100%);
	background: linear-gradient(to bottom, #a90329 0%,#8f0222 73%,#6d0019 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
	position: absolute;
	display: none;
}

.navegacion nav > ul > li:hover span{
	display: block;

}

.navegacion nav ul li:hover .submenu{
	display: flex;
	
	
}
.navegacion a:hover {
	background:#CC673B;
}

.navegacion nav ul li ul li a {
	text-decoration: none;
	color:#fff;
}

footer {
	margin-left:10%;
	margin-right:10%;
	display: block;
	padding: 2.5em 3.05em;
	right: 0;
	left: 0;
	position: absolute;
	bottom: 0;
	text-align: left;
	text-decoration: none;
	color: #ffffff;			
	background: #a90329; 
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 73%, #6d0019 100%); 	
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 73%,#6d0019 100%);
	background: linear-gradient(to bottom, #a90329 0%,#8f0222 73%,#6d0019 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
}

.tressColumn {
		text-align:center;
		margin-top:10%;
		border-left: 1px solid gray;
		overflow: hidden;
        column-count: 3;
}	

.arreglarMargin{
	margin-top:0;
}

.infoBox{
	margin-top:0;
	border-color: black;
	border-width: thick;
	border-style: double ;
	padding:1em;
	margin-left:10%;
	margin-right:10%;
}

 /* unvisited link */
.infoBox a:link {
	color: #0251d1;
}

/* visited link */
.infoBox a:visited {
	color: #d2691e;
}

/* mouse over link */
.infoBox a:hover {
	color: red;
}

/* selected link */
.infoBox a:active {
	color: yellow;
} 

section{
	padding-top:10%;
	padding-bottom:10%;
}


.login-estilo {
	text-align:center;
	margin-top:0;
	border-color: black;
	border-width: thick;
	border-style: double;
	padding:1em;
	margin-left: 35%;
	margin-right: 35%;
	overflow: hidden;
}

.login-estilo h3 {
	margin-bottom:1%;
}

#margin-extra{
	margin-top:3%;
}



