{% extends "base.html.twig" %}
{% block title %}Login{% endblock %}
{% block section %}
<div class="card card-register mx-auto mt-5">
      <div class="card-header">Registro</div>
      <div class="card-body">
        <form action="/PHPScript/configRegistrar.php" method="post">
        	<div class="form-group">
            <div class="form-row">
              <div class="col-md-8">
                <label for="exampleInputName">Email*</label>
                <input class="form-control" name="email" id="email" type="text" aria-describedby="nameHelp" placeholder="Email" required/>
              </div>
            </div>
          </div>
        	
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-8">
                <label for="exampleInputName">Nombre de Usuario*</label>
                <input class="form-control" name="username" id="username" type="text" aria-describedby="nameHelp" placeholder="Usuario" required/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col-md-8">
                <label for="exampleInputPassword1">Contraseña*</label>
                <input class="form-control" name="password" id="password" type="password" placeholder="Contraseña" required/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-8">
                <label for="exampleInputPassword1"> Confirmar contraseña*</label>
                <input class="form-control" name="confirmar_password" id="confirmar_password" type="password" placeholder="Confirmar contraseña" required/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-8">
                <label for="exampleInputName">Nombre*</label>
                <input class="form-control" name="name" id="name" type="text" aria-describedby="nameHelp" placeholder="Nombre" required/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-8">
                <label for="exampleInputName">Apellido*</label>
                <input class="form-control" name="surname" id="surname" type="text" aria-describedby="nameHelp" placeholder="Apellido" required/>
              </div>
            </div>
          </div>          
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-8">
                <label for="exampleInputName">Rol</label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col-md-4">
                <label class="checkbox"><input type="checkbox" name='roles[]' value=2>Pediatra</label>
              </div>
              <div class="col-md-4">
                <label class="checkbox"><input type="checkbox" name='roles[]' value=3>Recepcionista</label>
              </div>
            </div>
          </div>

			{% if error == 'passwordDiferente' %}
			<p class='alert-danger'>*Las contraseñas no son iguales, por favor vualva a intentar.</p>
			{% elseif error == 'campoVacio' %}
			<p class='alert-danger'>*Hay algun campo vacio.</p>
			  {% elseif error == 'sistema' %}
			<p class='alert-danger'>*Ocurrio un incoveniente con el sistema, por favor vuelva a intentar más tarde.</p>
			{% endif %}

          <div class="form-row">
          	<input class="btn btn-primary btn-block btn-lg col-md-4" type="submit" value="Registrar"/>
          	<a class="btn btn-default btn-lg col-md-4" href="home.php">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
{% endblock %}
