{% extends "base.html.twig" %}
{% block title %}Login{% endblock %}
{% block section %}
<div class="card card-register mx-auto mt-5">
      <div class="card-header">Asignacion de Roles</div>
      
      <div class="card-body">
        <form action="/PHPScript/modificarRolesUsuarios.php" method="post">
        	<input type="hidden" name="username" value="{{ modificarUsername }}">

        	<div class="form-group">
            <div class="form-row">
              <div class="col-md-8">	
                <p for="exampleInputName">Usuario:  {{ modificarUsername }}</p>
                <label for="exampleInputName">Roles</label>
        	  </div>
         	 </div>
         	 </div>

              <div class="form-group">
		        <div class="form-row">
		          <div class="col-md-4">
		            <label class="checkbox"><input type="checkbox" name='roles[]' value=2  {% if pediatra == true %} checked{% endif %}>Pediatra</label>
		          </div>
		          <div class="col-md-4">
		            <label class="checkbox"><input type="checkbox" name='roles[]' value=3 {% if recepcionista == true %} checked {% endif %}>Recepcionista</label>
		          </div>
		        </div>
		      </div>
		           


			{% if error == 'sistema' %}
				<p class='alert-danger'>*Ocurrio un incoveniente con el sistema, por favor vuelva a intentar más tarde.</p>
			{% endif %}

          <div class="form-row">
          	<input class="btn btn-primary btn-block btn-lg col-md-4" type="submit" value="Modificar"/>
          </div>
        </form>
      </div>
    </div>
{% endblock %}
