<!DOCTYPE html>
<html lang="en">

<head>
	{% block head %}
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}{% endblock %}</title>
  <!-- Bootstrap core CSS-->
  <link href="/Templates/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/Templates/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="/Templates/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="/Templates/css/sb-admin.css" rel="stylesheet">
  {% endblock %}
</head>
	<body class="fixed-nav sticky-footer bg-dark" id="page-top">
{% block header %}
		  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  	  <a class="navbar-brand" href="home.php">Hospital Gutierrez</a>
   		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      	<span class="navbar-toggler-icon"></span>
    	</button>
	    <div class="collapse navbar-collapse" id="navbarResponsive">
	      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
	     	   <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Inicio">
	          <a class="nav-link" href="home.php">
	            <i class="fa fa-fw fa-home"></i>
	            <span class="nav-link-text">Inicio</span>
	          </a>	
	        </li>
	  {% if login == true %}     
		{% if ((paciente_index == true) or (paciente_new == true ) or (paciente_update == true ) or (paciente_show == true )) %}
	        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Pacientes">
	          <a class="nav-link" href="mostrarPacientes.php?page=1">
	            <i class="fa fa-fw fa-address-card-o"></i>
	            <span class="nav-link-text">Pacientes</span>
	          </a>
	        </li>
	  {% endif %}
	  
	        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Administracion">
	          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
	            <i class="fa fa-fw fa-building-o"></i>
	          
	            <span class="nav-link-text">Administracion</span>
	          </a>
	          <ul class="sidenav-second-level collapse" id="collapseExamplePages">
	          {% if ((usuario_index == true) or (usuario_show == true)) %}
	            <li>
	              <a href="mostrarUsuarios.php">Usuarios</a>
	            </li>
	          {% endif %}
	            <li>
	              <a href="#">Roles</a>
	            </li>
	            <li>
	              <a href="#">Permisos</a>
	            </li>
	          </ul>
		{% if pagina_update == true %}
	        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Pacientes">
	          <a class="nav-link" href="configuracionAdmin.php">
	            <i class="fa fa-fw fa-cog"></i>
	            <span class="nav-link-text">Configuracion</span>
	          </a>
	        </li>
	  {% endif %}
	        </li>
		{% endif %}
	

	      </ul>
	      <ul class="navbar-nav sidenav-toggler">
	        <li class="nav-item">
	          <a class="nav-link text-center" id="sidenavToggler">
	            <i class="fa fa-fw fa-angle-left"></i>
	          </a>
	        </li>
	      </ul>
	      <ul class="navbar-nav ml-auto">


		{% if usuario_new == true %} 
      	<li class="nav-item">
      		<a href="agregarUsuario.php" class="nav-link"><i class="fa fa-plus-square" aria-hidden="true"></i>Agregar Usuario</a>
      	</li> 
    	{% endif %}

    {% if usuario_destroy == true or usuario_update == true %}     	
      	<li class="nav-item">
      		<a href="eliminarUsuarios.php" class="nav-link"><i  class="fa fa-pencil-square-o" aria-hidden="true"></i>Modificar Usuarios</a>
      	</li>	
		{% endif %}
	        <li class="nav-item">
	          <form class="form-inline my-2 my-lg-0 mr-lg-2">
	            <div class="input-group">
	              <input class="form-control" type="text" placeholder="Buscar...">
	              <span class="input-group-btn">
	                <button class="btn btn-primary" type="button">
	                  <i class="fa fa-search"></i>
	                </button>
	              </span>
	            </div>
	          </form>
	        </li>
			{% if login == true %}
				<li>
				  <p class="nav-link">{{  nombre }} </li></p>
				</li>
				<li>
				  <a href="/PHPScript/disconnectScript.php" class="nav-link"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
				</li>
			{% else %}
			    <li class="nav-item">
			      <a href="login.php" class="nav-link">
			        <i class="fa fa-fw fa-sign-in"></i>Login</a>
			    </li>
			{% endif %}
	      </ul>
	    </div>
	  </nav>
{% endblock %}

	 <div class="content-wrapper">
		<div class="container-fluid">
			{% block section %}{% endblock %}
			{% block footer %}
		</div>
	</div>
		 <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Proyecto de Software 2017 - Hospital Dr. Ricardo Gutierrez<span>v 0.2.0</span></small>
        </div>
      </div>
    </footer>

    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
	{% endblock %}
{% block script %}
    <script src="/Templates/vendor/jquery/jquery.min.js"></script>
    <script src="/Templates/vendor/popper/popper.min.js"></script>
    <script src="/Templates/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/Templates/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="/Templates/vendor/chart.js/Chart.min.js"></script>
    <script src="/Templates/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/Templates/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/Templates/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="/Templates/js/sb-admin-datatables.min.js"></script>
    <script src="/Templates/js/sb-admin-charts.min.js"></script>
{% endblock %}
{% block customScript %} {% endblock %}
	</body>
</html>
	
