<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>MaintenenceLogin</title>
  <!-- Bootstrap core CSS-->
  <link href="/Templates/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/Templates/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="/Templates/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="/Templates/css/sb-admin.css" rel="stylesheet">
</head>
	<body class="fixed-nav sticky-footer bg-dark" id="page-top">
			<div class="card card-login mx-auto mt-5">
				<div class="card-header">Login Para Admin</div>
					<div class="card-body">
						<form action="/PHPScript/loginMaintenanceScript.php" method="post">
							<div class="form-group">
								<label>Nombre de Usuario</label>
								<input class="form-control" name="username" id="username" type="text" aria-describedby="emailHelp" placeholder="Nombre de Usuario" required>
							</div>
							<div class="form-group">
								<label>Contraseña</label>
								<input class="form-control" name="password" id="password" type="password" placeholder="Contraseña" required>
							</div>
							<div class="form-group">
							</div>
							{% if error == 'errorlogin' %}
							<p class='alert-danger'>*El usuario y contraseña no considen, por favor vualva a intentar.</p>
							{% elseif error == 'generico' %}
							<p class='alert-danger'>*Se genero un inconveniente con el sistema, por favor intente mas tarde.</p>
							{% endif %}
							<input class="btn btn-primary btn-block" type="submit" value="Iniciar"></input>
						</form>
					</div>
				</div>
			</div>
    <script src="/Templates/vendor/jquery/jquery.min.js"></script>
    <script src="/Templates/vendor/popper/popper.min.js"></script>
    <script src="/Templates/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/Templates/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="/Templates/vendor/chart.js/Chart.min.js"></script>
    <script src="/Templates/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/Templates/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/Templates/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="/Templates/js/sb-admin-datatables.min.js"></script>
    <script src="/Templates/js/sb-admin-charts.min.js"></script>
	</body>
</html>
