{% extends "base.html.twig" %}
{% block title %}Login{% endblock %}
{% block section %}
<div class="card card-login mx-auto mt-5">
	<div class="card-header">Login</div>
		<div class="card-body">
			<form action="/PHPScript/loginScript.php" method="post">
				<div class="form-group">
					<label>Nombre de Usuario</label>
					<input class="form-control" name="username" id="username" type="text" aria-describedby="emailHelp" placeholder="Nombre de Usuario" required>
				</div>
				<div class="form-group">
					<label>Contraseña</label>
					<input class="form-control" name="password" id="password" type="password" placeholder="Contraseña" required>
				</div>
				<div class="form-group">
				</div>
				{% if error == 'errorlogin' %}
				<p class='alert-danger'>*El usuario y contraseña no considen, por favor vualva a intentar.</p>
				{% elseif error == 'generico' %}
				<p class='alert-danger'>*Se genero un inconveniente con el sistema, por favor intente mas tarde.</p>
				{% endif %}
				<input class="btn btn-primary btn-block" type="submit" value="Iniciar"></input>
			</form>
		</div>
	</div>
</div>
{% endblock %}
