<!DOCTYPE html>
<html lang="en">

<head>
	{% block head %}
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}Maintenence{% endblock %}</title>
  <!-- Bootstrap core CSS-->
  <link href="/Templates/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/Templates/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="/Templates/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="/Templates/css/sb-admin.css" rel="stylesheet">
  <link href="/Templates/css/custom.css" rel="stylesheet" type="text/css">
  {% endblock %}
</head>

	<body class="jumbotron">
		 <footer class="footer">
          <a class="float-right" href="loginMaintenance.php">Ingresar como Admin</a>
    </footer>
	</body>
</html>
	
