{% extends "base.html.twig" %}
{% block title %}Datos demograficos{% endblock %}
{% block section %}
<div class="card card-register mx-auto mt-5">
    <div class="card-header">Datos Demograficos</div>
      <div class="card-body">
        <form action="/PHPScript/modificarDatosDemograficos.php" method="post">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-8">
                <input name="dni" value={{ dni }} hidden>
              	<p>Heladera</p>
                <label for="hsi">Si</label><input type="radio" name="heladera" value=1 id="hsi" {% if heladera == 1 %} checked {% endif %}>
  
                <label for="hno">No</label><input type="radio" name="heladera" value=0 id="hno" {% if heladera == 0 %} checked {% endif %}>
              </div>
            </div>
          </div>
          
          <br>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-8">
              	<p>Electriciad</p>
                <label for="elsi">Si</label><input type="radio" name="electricidad" value=1 id="elsi" {% if electricidad == 1 %} checked {% endif %}>
  
                <label for="elno">No</label><input type="radio" name="electricidad" value=0 id="elno" {% if electricidad == 0 %} checked {% endif %}>
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-8">
              	<p>Mascota</p>
                <label for="msi">Si</label><input type="radio" name="mascota" value=1 id="msi" {% if mascota == 1 %} checked {% endif %}>
  
                <label for="mno">No</label><input type="radio" name="mascota" value=0 id="mno" {% if mascota == 0 %} checked {% endif %}>
              </div>
            </div>
          </div>
          
          <br>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-8">
              	<p>Tipo de Vivienda</p>
                <label for="departamento">Departamento</label><input type="radio" name="vivienda" value=1 id="departamento" {% if vivienda == 1 %} checked {% endif %} >
  							<label for="casa">Casa</label><input type="radio" name="vivienda" value=2 id="casa" {% if vivienda == 2 %} checked {% endif %}>
                <label for="casilla">Casilla</label><input type="radio" name="vivienda" value=3 id="casilla" {% if vivienda == 3 %} checked {% endif %}>
              </div>
            </div>
          </div>
          
          <br>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-8">
              	<p>Tipo de Calefaccion</p>
                <label for="electrica">Electrica</label><input type="radio" name="calefaccion" value=1 id="electrica" {% if calefaccion == 1 %} checked {% endif %}>
  							<label for="gas">A Gas</label><input type="radio" name="calefaccion" value=2 id="gas" {% if calefaccion == 2 %} checked {% endif %}>
                <label for="caldera">Con Caldera</label><input type="radio" name="calefaccion" value=3 id="caldera" {% if calefaccion == 3 %} checked {% endif %}>
              </div>
            </div>
          </div>
          
          <br>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-8">
              	<p>Tipo de agua</p>
                <label for="potable">Potable</label><input type="radio" name="agua" value=1 id="potable" {% if agua == 1 %} checked {% endif %}>
  							<label for="pozo">De Pozo</label><input type="radio" name="agua" value=2 id="pozo" {% if agua == 2 %} checked {% endif %}>
  						</div>
            </div>
          </div>
          
					<br>
          <div class="form-row">
          	<input class="btn btn-primary btn-block btn-lg col-md-4" type="submit" value="Modificar"/>
          	<a class="btn btn-default btn-lg col-md-4" href="mostrarPacientes.php">Cancelar</a>
          </div>
        </form>
      </div>
    </div>

{% endblock %}
