<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="/Templates/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/Templates/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/Templates/css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Registro</div>
      <div class="card-body">
        <form action="/PHPScript/configRegistrar.php" method="post">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-8">
                <label for="exampleInputName">Nombre de Usuario</label>
                <input class="form-control" name="username" id="username" type="text" aria-describedby="nameHelp" placeholder="Usuario" required/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col-md-8">
                <label for="exampleInputPassword1">Contrase単a</label>
                <input class="form-control" name="password" id="password" type="password" placeholder="Contrase単a" required/>
              </div>
            </div>
          </div>
            <div class="form-group">
            <div class="form-row">
              <div class="col-md-8">
                <label for="exampleInputPassword1"> Confirmar contrase単a</label>
                <input class="form-control" name="confirmar_password" id="confirmar_password" type="password" placeholder="Confirmar contrase単a" required/>
              </div>
            </div>
          </div>
          <input class="btn btn-primary btn-block" type="submit" value="Registrar">
        </form>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="/Templates/vendor/jquery/jquery.min.js"></script>
  <script src="/Templates/vendor/popper/popper.min.js"></script>
  <script src="/Templates/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/Templates/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
